*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    background-color: #334155;
    font-family:'Roboto', sans-serif;
}

.titulo{
    font-size: 4rem;
    text-align: center;
    color: #94a3b8;
}

.div-img{
    width: 300px;
    margin: 0 auto;
}

.img{
    width: 100%;
}

